<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linxcool.sdkface.admob">

    <application>
        <!--
        admob 从V17.0.0(适配器版本4.3.1)起，要求应用ID添加AndroidManifest作为标记
        以下是com.linxcool.mergeclash的admob-appid，实际情况需要在主应用中自行配置
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3226315085829241~9508393581"/>
        -->
    </application>

</manifest>